Beetle.Server/Beetle.Server.Core/BeetleServerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Server.Core" elementFormDefault="qualified" targetNamespace="urn:Beetle.Server.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="beetleServerSection" type="tns:Beetle.Server.Core.BeetleServerSectionCT" />
	<xs:complexType name="Beetle.Server.Core.BeetleServerSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="servers" type="tns:Beetle.Server.Core.BeetleServerCollectionCT">
				<xs:annotation>
					<xs:documentation>The Servers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serverName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DisplayName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Server.Core.BeetleServerConfCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="package" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Package.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="handler" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Handler.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Server.Core.BeetleServerCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="beetleServerConf" type="tns:Beetle.Server.Core.BeetleServerConfCT">
				<xs:annotation>
					<xs:documentation>The BeetleServerConf Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
