IKende.com.SNService/IKende.com.SNService/SNServiceSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:IKende.com.SNService" elementFormDefault="qualified" targetNamespace="urn:IKende.com.SNService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sNServiceSection" type="tns:IKende.com.SNService.SNServiceSectionCT" />
	<xs:complexType name="IKende.com.SNService.SNServiceSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="sequence" type="tns:IKende.com.SNService.SequenceConfCT">
				<xs:annotation>
					<xs:documentation>The Sequence.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IKende.com.SNService.SequenceConfCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="start" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Start.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="step" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Step.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
